<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xibin.wms.dao.BdFittingSkuGroupMapper" >
  <resultMap id="BaseResultMap" type="com.xibin.wms.pojo.BdFittingSkuGroup" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="group_code" property="groupCode" jdbcType="VARCHAR" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="INTEGER" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="rec_ver" property="recVer" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="QueryResultMap" type="com.xibin.wms.query.BdFittingSkuGroupQueryItem" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="group_code" property="groupCode" jdbcType="VARCHAR" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="fitting_sku_code" property="fittingSkuCode" jdbcType="VARCHAR" />
    <result column="fitting_sku_name" property="fittingSkuName" jdbcType="VARCHAR" />
    <result column="model_code" property="modelCode" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="INTEGER" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="rec_ver" property="recVer" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    bfsg.id, bfsg.group_code, bfsg.group_name, bfsg.description, bfsg.creator, bfsg.create_time, bfsg.modifier, bfsg.modify_time, bfsg.rec_ver, 
    bfsg.company_id
  </sql>
  
  <!-- 条件 -->
  <sql id="findByConditionWhere">
      WHERE 1=1
          <if test="id!=null and id!=''"> AND ba.id = #{id}</if>
          <if test="groupCode!=null and groupCode!=''"> AND bfsg.group_code = #{groupCode}</if>
          <if test="groupName!=null and groupName!=''"> AND bfsg.group_name LIKE CONCAT('%','${groupName}','%')</if>
          <if test="description!=null and description!=''"> AND bfsg.description LIKE CONCAT('%','${description}','%')</if>
          <if test="companyId!=null and companyId!=''"> AND bfsg.company_id = #{companyId}</if>
  </sql>
  <!-- 条件 -->
  <sql id="findByExampleWhere">
      WHERE 1=1
          <if test="id!=null and id!=''"> AND bfsg.id = #{id}</if>
          <if test="groupCode!=null and groupCode!=''"> AND bfsg.group_code = #{groupCode}</if>
          <if test="groupName!=null and groupName!=''"> AND bfsg.group_name = #{groupName}</if>
          <if test="description!=null and description!=''"> AND bfsg.description = #{description}</if>
          <if test="companyId!=null and companyId!=''"> AND bfsg.company_id = #{companyId}</if>
  </sql>
  <!-- 【固定】：按主键查询 -->
  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String">
  	  select
      <include refid="Base_Column_List"/>
      from bd_fitting_sku_group bfsg
      WHERE id in
      <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
	           #{item}
	  </foreach>
  </select>
  
  <!-- 【固定】：插入记录（支持一条及多条） -->
  <insert id="insert" parameterType="java.util.List">
  	INSERT INTO bd_fitting_sku_group
          (id, group_code, group_name, description, creator, create_time, modifier, modify_time, rec_ver, 
    company_id)
       VALUES
  		<foreach collection="list" item="item" index="index" separator=",">
	   		(#{item.id},#{item.groupCode},#{item.groupName}, 
      #{item.description},#{item.creator},#{item.createTime},#{item.modifier},#{item.modifyTime},
      #{item.recVer},#{item.companyId})
  		</foreach>
  </insert>
  
  <!-- 【固定】：删除记录 -->
  <delete id="delete" parameterType="java.lang.reflect.Array">
      DELETE FROM bd_fitting_sku_group WHERE id in 
   <foreach collection="array" index="index" item="item" open="(" separator="," close=")">  
           #{item}   
   </foreach>
  </delete>
  
  <!-- 【固定】：更新记录（支持一条及多条） -->
  <update id="update" parameterType="java.util.Collection">
	UPDATE bd_fitting_sku_group
	<trim prefix="set" suffixOverrides=",">
		<!-- 更新的字段集合 -->
		<trim prefix="group_code =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.groupCode}
             </foreach>
		</trim>
		<trim prefix="group_name =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.groupName}
             </foreach>
		</trim>
		<trim prefix="description =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.description}
             </foreach>
		</trim>
		
		
		<trim prefix="modifier =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.modifier}
             </foreach>
		</trim>
		<trim prefix="modify_time =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.modifyTime}
             </foreach>
		</trim>
		<trim prefix="rec_ver =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.recVer}
             </foreach>
		</trim>
		<trim prefix="company_id =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.companyId}
             </foreach>
		</trim>
	</trim>
	WHERE
	<foreach collection="list" separator="or" item="item" index="index" >
		<if test="item.id!=null">
		(ID=#{item.id}) AND (REC_VER=#{item.recVer}-1)
		</if>
	</foreach>	
  </update>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bd_fitting_sku_group bfsg
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAllByPage" resultMap="QueryResultMap" parameterType="Map">
    select 
    <include refid="Base_Column_List" />
    ,bfs.fitting_sku_code,
    bfs.fitting_sku_name,
    bfs.model_code
    from bd_fitting_sku_group bfsg
    left join bd_fitting_sku bfs on bfs.group_code = bfsg.group_code
    and bfs.company_id = bfsg.company_id
    
    <include refid="findByConditionWhere" />
    order by bfsg.group_code
    <if test="fittingSkuCode!=null and fittingSkuCode!=''"> AND bfs.fitting_sku_code = #{fittingSkuCode}</if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xibin.wms.pojo.BdFittingSkuGroup">
    select 
    <include refid="Base_Column_List" />
    from bd_fitting_sku_group bfsg
    <include refid="findByExampleWhere" />
  </select>
  <select id="selectByKey" resultMap="BaseResultMap" resultType="java.util.List"  parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from bd_fitting_sku_group bfsg
    where bfsg.group_code = #{groupCode,jdbcType=VARCHAR}
    and 
    bfsg.company_id = #{companyId,jdbcType=INTEGER}
  </select>
  <select id="queryItemByKey" resultMap="QueryResultMap" resultType="java.util.List"  parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,bfs.fitting_sku_code,
    bfs.fitting_sku_name,
    bfs.model_code
    from bd_fitting_sku_group bfsg
    left join bd_fitting_sku bfs on bfs.group_code = bfsg.group_code
    and bfs.company_id = bfsg.company_id
    where bfsg.group_code = #{groupCode,jdbcType=VARCHAR}
    and 
    bfsg.company_id = #{companyId,jdbcType=INTEGER}
    
  </select>
</mapper>