<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xibin.wms.dao.BdLocMapper" >
  <resultMap id="BaseResultMap" type="com.xibin.wms.pojo.BdLoc" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="zone_code" property="zoneCode" jdbcType="VARCHAR" />
    <result column="loc_code" property="locCode" jdbcType="VARCHAR" />
    <result column="loc_name" property="locName" jdbcType="VARCHAR" />
    <result column="loc_type" property="locType" jdbcType="VARCHAR" />
    <result column="use_type" property="useType" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="INTEGER" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="rec_ver" property="recVer" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="warehouse_id" property="warehouseId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="QueryResultMap" type="com.xibin.wms.query.BdLocQueryItem" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="zone_code" property="zoneCode" jdbcType="VARCHAR" />
    <result column="zone_name" property="zoneName" jdbcType="VARCHAR" />
    <result column="loc_code" property="locCode" jdbcType="VARCHAR" />
    <result column="loc_name" property="locName" jdbcType="VARCHAR" />
    <result column="loc_type" property="locType" jdbcType="VARCHAR" />
    <result column="use_type" property="useType" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="INTEGER" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="rec_ver" property="recVer" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="warehouse_id" property="warehouseId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    bl.id, bl.zone_code, bl.loc_code, bl.loc_name, bl.loc_type, bl.use_type, bl.remark, bl.creator, bl.create_time, 
    bl.modifier, bl.modify_time, bl.rec_ver, bl.company_id, bl.warehouse_id
  </sql>
  
  <!-- 条件 -->
  <sql id="findByConditionWhere">
      WHERE 1=1
          <if test="id!=null and id!=''"> AND bl.id = #{id}</if>
          <if test="zoneCode!=null and zoneCode!=''"> AND bl.zone_code = #{zoneCode}</if>
          <if test="locName!=null and locName!=''"> AND bl.loc_name LIKE CONCAT('%','${locName}','%')</if>
          <if test="locCode!=null and locCode!=''"> AND bl.loc_code LIKE CONCAT('%','${locCode}','%')</if>
          <if test="locType!=null and locType!=''"> AND bl.loc_type = #{locType}</if>
          <if test="useType!=null and useType!=''"> AND bl.use_type = #{useType}</if>
          <if test="remark!=null and remark!=''"> AND bl.remark LIKE CONCAT('%','${remark}','%')</if>
          <if test="companyId!=null and companyId!=''"> AND bl.company_id = #{companyId}</if>
          <if test="warehouseId!=null and warehouseId!=''"> AND bl.warehouse_id = #{warehouseId}</if>
          <if test="fuzzyCondition!=null and fuzzyCondition!=''">AND (bl.loc_name LIKE CONCAT('%','${fuzzyCondition}','%')
          OR bl.loc_code LIKE CONCAT('%','${fuzzyCondition}','%'))</if>
  </sql>
  <!-- 条件 -->
  <sql id="findByExampleWhere">
      WHERE 1=1
          <if test="id!=null and id!=''"> AND bl.id = #{id}</if>
          <if test="zoneCode!=null and zoneCode!=''"> AND bl.zone_code = #{zoneCode}</if>
          <if test="locCode!=null and locCode!=''"> AND bl.loc_code = #{locCode}</if>
          <if test="locName!=null and locName!=''"> AND bl.loc_name = #{locName}</if>
          <if test="locType!=null and locType!=''"> AND bl.loc_type = #{locType}</if>
          <if test="useType!=null and useType!=''"> AND bl.use_type = #{useType}</if>
          <if test="companyId!=null and companyId!=''"> AND bl.company_id = #{companyId}</if>
  </sql>
  
  
  <!-- 【固定】：按主键查询 -->
  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String">
  	  select
      <include refid="Base_Column_List"/>
      from bd_loc bl
      WHERE id in
      <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
	           #{item}
	  </foreach>
  </select>
  
  <!-- 【固定】：插入记录（支持一条及多条） -->
  <insert id="insert" parameterType="java.util.List">
  	INSERT INTO bd_loc
          (id, zone_code, loc_code, loc_name, loc_type, use_type, remark, creator, create_time, 
    modifier, modify_time, rec_ver, company_id, warehouse_id)
       VALUES
  		<foreach collection="list" item="item" index="index" separator=",">
	   		(#{item.id}, #{item.zoneCode},#{item.locCode},#{item.locName}, #{item.locType},#{item.useType},
      #{item.remark},#{item.creator},#{item.createTime}, #{item.modifier},  #{item.modifyTime},
      #{item.recVer}, #{item.companyId},#{item.warehouseId})
  		</foreach>
  </insert>
  
  <!-- 【固定】：删除记录 -->
  <delete id="delete" parameterType="java.lang.reflect.Array">
      DELETE FROM bd_loc WHERE id in 
   <foreach collection="array" index="index" item="item" open="(" separator="," close=")">  
           #{item}   
   </foreach>
  </delete>
  
  <!-- 【固定】：更新记录（支持一条及多条） -->
  <update id="update" parameterType="java.util.Collection">
	UPDATE bd_loc
	<trim prefix="set" suffixOverrides=",">
		<!-- 更新的字段集合 -->
		<trim prefix="zone_code =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.zoneCode}
             </foreach>
		</trim>
		<trim prefix="loc_code =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.locCode}
             </foreach>
		</trim>
		<trim prefix="loc_name =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.locName}
             </foreach>
		</trim>
		<trim prefix="loc_type =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.locType}
             </foreach>
		</trim>
		<trim prefix="use_type =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.useType}
             </foreach>
		</trim>
		<trim prefix="remark =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.remark}
             </foreach>
		</trim>
		
		
		<trim prefix="modifier =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.modifier}
             </foreach>
		</trim>
		<trim prefix="modify_time =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.modifyTime}
             </foreach>
		</trim>
		<trim prefix="rec_ver =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.recVer}
             </foreach>
		</trim>
		<trim prefix="company_id =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.companyId}
             </foreach>
		</trim>
		<trim prefix="warehouse_id =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.warehouseId}
             </foreach>
		</trim>
	</trim>
	WHERE
	<foreach collection="list" separator="or" item="item" index="index" >
		<if test="item.id!=null">
		(ID=#{item.id}) AND (REC_VER=#{item.recVer}-1)
		</if>
	</foreach>	
  </update>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bd_loc bl
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAllByPage" resultMap="QueryResultMap" parameterType="Map">
    select 
    <include refid="Base_Column_List" />
    ,bz.zone_name 
    from bd_loc bl
    left join bd_zone bz on
    bz.zone_code = bl.zone_code
    and bz.company_id = bl.company_id
    and bz.warehouse_id = bl.warehouse_id
    <include refid="findByConditionWhere" />
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xibin.wms.pojo.BdLoc">
    select 
    <include refid="Base_Column_List" />
    from bd_loc bl
    <include refid="findByExampleWhere" />
  </select>
  <select id="selectByKey" resultMap="QueryResultMap" resultType="java.util.List"  parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,bz.zone_name
    from bd_loc bl
    left join bd_zone bz on
    bz.zone_code = bl.zone_code
    and bz.company_id = bl.company_id
    and bz.warehouse_id = bl.warehouse_id
    where bl.loc_code = #{locCode,jdbcType=VARCHAR}
    and 
    bl.company_id = #{companyId,jdbcType=INTEGER}
    and
    bl.warehouse_id = #{warehouseId,jdbcType=INTEGER}
  </select>
  
</mapper>