<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xibin.wms.dao.SysRoleMapper" >
  <resultMap id="BaseResultMap" type="com.xibin.wms.pojo.SysRole" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="role_code" property="roleCode" jdbcType="VARCHAR" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="create_time" property="createtime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="INTEGER" />
    <result column="modify_time" property="modifytime" jdbcType="TIMESTAMP" />
    <result column="rec_ver" property="recVer" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, role_code, role_name,status, remark, creator, create_time, modifier, modify_time, rec_ver, 
    company_id
  </sql>
  <!-- 条件 -->
  <sql id="findByExampleWhere">
      WHERE 1=1
          <if test="id!=null and id!=''"> AND id = #{id}</if>
          <if test="roleCode!=null and roleCode!=''"> AND role_code LIKE CONCAT('%','${roleCode}','%')</if>
          <if test="roleName!=null and roleName!=''"> AND role_name LIKE CONCAT('%','${roleName}','%')</if>
          <if test="remark!=null and remark!=''"> AND remark LIKE CONCAT('%','${remark}','%')</if>
          <if test="status!=null and status!=''"> AND status = #{status}</if>
          <if test="companyId!=null and companyId!=''"> AND company_id = #{companyId}</if>
          <if test="allCondition!=null and allCondition!=''"> AND role_code LIKE CONCAT('%','${allCondition}','%')</if>
          <if test="allCondition!=null and allCondition!=''"> OR role_name LIKE CONCAT('%','${allCondition}','%')</if>
  </sql>
  <!-- 【固定】：按主键查询 -->
  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String">
  	  select
      <include refid="Base_Column_List"/>
      from sys_role
      WHERE id in
      <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
	           #{item}
	  </foreach>
  </select>
  
  <!-- 【固定】：插入记录（支持一条及多条） -->
  <insert id="insert" parameterType="java.util.List">
  	INSERT INTO sys_role
          (id, role_code, role_name, status,remark,
    create_time, creator, modify_time, modifier, rec_ver, company_id)
       VALUES
  		<foreach collection="list" item="item" index="index" separator=",">
	   		(#{item.id}, #{item.roleCode}, #{item.roleName},#{item.status}, 
      #{item.remark}, #{item.createTime}, 
      #{item.creator}, #{item.modifyTime}, #{item.modifier}, 
      #{item.recVer}, #{item.companyId})
  		</foreach>
  </insert>
  
  <!-- 【固定】：删除记录 -->
  <delete id="delete" parameterType="java.lang.reflect.Array">
      DELETE FROM sys_role WHERE ID in 
   <foreach collection="array" index="index" item="item" open="(" separator="," close=")">  
           #{item}   
   </foreach>
  </delete>
  
  <!-- 【固定】：更新记录（支持一条及多条） -->
  <update id="update" parameterType="java.util.Collection">
	UPDATE sys_role
	<trim prefix="set" suffixOverrides=",">
		<!-- 更新的字段集合 -->
		<trim prefix="role_code =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.roleCode}
             </foreach>
		</trim>
		<trim prefix="role_name =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.roleName}
             </foreach>
		</trim>
		<trim prefix="status =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.status}
             </foreach>
		</trim>
		<trim prefix="remark =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.remark}
             </foreach>
		</trim>
		<trim prefix="modifier =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.modifier}
             </foreach>
		</trim>
		<trim prefix="modify_time =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.modifyTime}
             </foreach>
		</trim>
		<trim prefix="rec_ver =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.recVer}
             </foreach>
		</trim>
	</trim>
	WHERE
	<foreach collection="list" separator="or" item="item" index="index" >
		<if test="item.id!=null">
		(ID=#{item.id}) AND (REC_VER=#{item.recVer}-1)
		</if>
	</foreach>	
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAllByPage" resultMap="BaseResultMap" parameterType="Map">
    select 
    <include refid="Base_Column_List" />
    from sys_role
    <include refid="findByExampleWhere"/>
    ORDER BY modify_time DESC
  </select>
  <select id="selectByKey" resultMap="BaseResultMap" resultType="java.util.List">
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where role_code = #{roleCode,jdbcType=VARCHAR}
    and
    company_id = #{companyId,jdbcType=INTEGER}
  </select>
</mapper>