<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xibin.wms.dao.WmInboundDetailMapper" >
  <resultMap id="BaseResultMap" type="com.xibin.wms.pojo.WmInboundDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="line_no" property="lineNo" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="supplier_code" property="supplierCode" jdbcType="VARCHAR" />
    <result column="sku_code" property="skuCode" jdbcType="VARCHAR" />
    <result column="inbound_pre_num" property="inboundPreNum" jdbcType="DOUBLE" />
    <result column="inbound_num" property="inboundNum" jdbcType="DOUBLE" />
    <result column="inbound_price" property="inboundPrice" jdbcType="DOUBLE" />
    <result column="cost" property="cost" jdbcType="DOUBLE" />
    <result column="plan_loc" property="planLoc" jdbcType="VARCHAR" />
    <result column="supplier_code" property="supplierCode" jdbcType="VARCHAR" />
    <result column="is_created_voucher" property="isCreatedVoucher" jdbcType="VARCHAR" />
    <result column="voucher_no" property="voucherNo" jdbcType="VARCHAR" />
    <result column="is_cross_dock" property="isCrossDock" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="INTEGER" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="rec_ver" property="recVer" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="warehouse_id" property="warehouseId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="QueryResultMap" type="com.xibin.wms.query.WmInboundDetailQueryItem" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="line_no" property="lineNo" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="header_status" property="headerStatus" jdbcType="VARCHAR" />
    <result column="is_calculated" property="isCalculated" jdbcType="VARCHAR" />
    <result column="supplier_code" property="supplierCode" jdbcType="VARCHAR" />
    <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
    <result column="sku_code" property="skuCode" jdbcType="VARCHAR" />
    <result column="quick_code" property="quickCode" jdbcType="VARCHAR" />
    <result column="fitting_sku_name" property="fittingSkuName" jdbcType="VARCHAR" />
    <result column="model_code" property="modelCode" jdbcType="VARCHAR" />
    <result column="inbound_pre_num" property="inboundPreNum" jdbcType="DOUBLE" />
    <result column="inbound_num" property="inboundNum" jdbcType="DOUBLE" />
    <result column="inbound_price" property="inboundPrice" jdbcType="DOUBLE" />
    <result column="cost" property="cost" jdbcType="DOUBLE" />
    <result column="plan_loc" property="planLoc" jdbcType="VARCHAR" />
    <result column="is_created_voucher" property="isCreatedVoucher" jdbcType="VARCHAR" />
    <result column="voucher_no" property="voucherNo" jdbcType="VARCHAR" />
    <result column="is_cross_dock" property="isCrossDock" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="INTEGER" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="rec_ver" property="recVer" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="warehouse_id" property="warehouseId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="SkuQueryItem" type="com.xibin.wms.query.WmInboundDetailSkuQueryItem" >
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="header_status" property="headerStatus" jdbcType="VARCHAR" />
    <result column="order_time" property="orderTime" jdbcType="TIMESTAMP" /> 
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="supplier_code" property="supplierCode" jdbcType="VARCHAR" />
    <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />  
    <result column="inbound_type" property="inboundType" jdbcType="VARCHAR" /> 
    <result column="line_no" property="lineNo" jdbcType="VARCHAR" />
    <result column="fitting_sku_code" property="fittingSkuCode" jdbcType="VARCHAR" />
    <result column="quick_code" property="quickCode" jdbcType="VARCHAR" />
    <result column="fitting_sku_name" property="fittingSkuName" jdbcType="VARCHAR" />
    <result column="uom_desc" property="uomDesc" jdbcType="VARCHAR" />
	<result column="model_code" property="modelCode" jdbcType="VARCHAR" />
    <result column="inbound_pre_num" property="inboundPreNum" jdbcType="DOUBLE" />
    <result column="inbound_num" property="inboundNum" jdbcType="DOUBLE" />
    <result column="inbound_price" property="inboundPrice" jdbcType="DOUBLE" />
    <result column="total_price" property="totalPrice" jdbcType="DOUBLE" />
    <result column="plan_loc" property="planLoc" jdbcType="VARCHAR" />
	<result column="is_cross_dock" property="isCrossDock" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="INTEGER" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="rec_ver" property="recVer" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="warehouse_id" property="warehouseId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="SumPriceResultMap" type="com.xibin.wms.query.WmInboundDetailSumPriceQueryItem" >
    <result column="total" property="total" jdbcType="DOUBLE" />
    <result column="supplier_code" property="supplierCode" jdbcType="VARCHAR" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="auxi_id" property="auxiId" jdbcType="INTEGER" />

  </resultMap>
  
  
  <resultMap id="SaleHistoryResultMap" type="com.xibin.wms.query.WmInboundDetailSaleHistoryQueryItem" >
    <result column="fitting_sku_name" property="fittingSkuName" jdbcType="VARCHAR" />
    <result column="model_code" property="modelCode" jdbcType="VARCHAR" />
    <result column="sku_code" property="skuCode" jdbcType="VARCHAR" />
    <result column="supplier_code" property="supplierCode" jdbcType="VARCHAR" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="inbound_num" property="inboundNum" jdbcType="DOUBLE" />
    <result column="inbound_price" property="inboundPrice" jdbcType="DOUBLE" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    wid.id, wid.order_no, wid.line_no,wid.status,wid.supplier_code, wid.sku_code, wid.inbound_pre_num,wid.inbound_num, wid.inbound_price, wid.cost,
    wid.plan_loc,wid.is_created_voucher,wid.voucher_no,wid.is_cross_dock,
    wid.remark, wid.creator, wid.create_time, 
    wid.modifier, wid.modify_time, wid.rec_ver, wid.company_id, wid.warehouse_id
  </sql>
  
  <!-- 条件 -->
  <sql id="findByConditionWhere">
      WHERE 1=1
          <if test="id!=null and id!=''"> AND wid.id = #{id}</if>
          <if test="orderNo!=null and orderNo!=''"> AND wid.order_no LIKE CONCAT('%', '${orderNo}','%')</if>
          <if test="supplierCode!=null and supplierCode!=''"> AND wid.supplier_code = #{supplierCode}</if>
          <if test="lineNo!=null and lineNo!=''"> AND wid.line_no LIKE CONCAT('%','${lineNo}','%')</if>
          <if test="skuCode!=null and skuCode!=''"> AND wid.sku_code LIKE CONCAT('%','${skuCode}','%')</if>
          <if test="isCreatedVoucher!=null and isCreatedVoucher!=''"> AND wid.is_created_voucher = #{isCreatedVoucher}</if>
          <if test="voucherNo!=null and voucherNo!=''"> AND wid.voucher_no LIKE CONCAT('%','${voucherNo}','%')</if>
          <if test="companyId!=null and companyId!=''"> AND wid.company_id = #{companyId}</if>
          <if test="warehouseId!=null and warehouseId!=''"> AND wid.warehouse_id = #{warehouseId}</if>
          <if test="fuzzyCondition!=null and fuzzyCondition!=''">AND (wid.order_no LIKE CONCAT('%','${fuzzyCondition}','%')
          OR wid.line_no LIKE CONCAT('%','${fuzzyCondition}','%') 
          OR wid.sku_code LIKE CONCAT('%','${fuzzyCondition}','%'))</if>
  </sql>
  <!-- 条件 -->
  <sql id="findByExampleWhere">
      WHERE 1=1
          <if test="id!=null and id!=''"> AND wid.id = #{id}</if>
          <if test="orderNo!=null and orderNo!=''"> AND wid.order_no = #{orderNo}</if>
          <if test="supplierCode!=null and supplierCode!=''"> AND wid.supplier_code = #{supplierCode}</if>
          <if test="lineNo!=null and lineNo!=''"> AND wid.line_no = #{lineNo}</if>
          <if test="skuCode!=null and skuCode!=''"> AND wid.sku_code = #{skuCode}</if>
          <if test="isCreatedVoucher!=null and isCreatedVoucher!=''"> AND wid.is_created_voucher = #{isCreatedVoucher}</if>
          <if test="voucherNo!=null and voucherNo!=''"> AND wid.voucher_no = #{voucherNo}</if>
          <if test="companyId!=null and companyId!=''"> AND wid.company_id = #{companyId}</if>
          <if test="warehouseId!=null and warehouseId!=''"> AND wid.warehouse_id = #{warehouseId}</if>
  </sql>
  
  
  <!-- 【固定】：按主键查询 -->
  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String">
  	  select
      <include refid="Base_Column_List"/>
      from wm_inbound_detail wid
      WHERE id in
      <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
	           #{item}
	  </foreach>
  </select>
  
  <!-- 【固定】：插入记录（支持一条及多条） -->
  <insert id="insert" parameterType="java.util.List">
  	INSERT INTO wm_inbound_detail
          (id, order_no, line_no,status,supplier_code,sku_code, inbound_pre_num,inbound_num, inbound_price, cost, plan_loc,is_created_voucher,voucher_no,is_cross_dock,remark, creator, create_time, 
    modifier, modify_time, rec_ver, company_id, warehouse_id)
       VALUES
  		<foreach collection="list" item="item" index="index" separator=",">
	   		(#{item.id}, #{item.orderNo},#{item.lineNo},#{item.status}, #{item.supplierCode},#{item.skuCode},#{item.inboundPreNum},#{item.inboundNum},#{item.inboundPrice},#{item.cost},#{item.planLoc},#{item.isCreatedVoucher},#{item.voucherNo},#{item.isCrossDock},
      #{item.remark},#{item.creator},#{item.createTime}, #{item.modifier},  #{item.modifyTime},
      #{item.recVer}, #{item.companyId},#{item.warehouseId})
  		</foreach>
  </insert>
  
  <!-- 【固定】：删除记录 -->
  <delete id="delete" parameterType="java.lang.reflect.Array">
      DELETE FROM wm_inbound_detail WHERE id in 
   <foreach collection="array" index="index" item="item" open="(" separator="," close=")">  
           #{item}   
   </foreach>
  </delete>
  
  <!-- 【固定】：更新记录（支持一条及多条） -->
  <update id="update" parameterType="java.util.Collection">
	UPDATE wm_inbound_detail
	<trim prefix="set" suffixOverrides=",">
		<!-- 更新的字段集合 -->
		<trim prefix="order_no =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.orderNo}
             </foreach>
		</trim>
		<trim prefix="line_no =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.lineNo}
             </foreach>
		</trim>
		<trim prefix="status =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.status}
             </foreach>
		</trim>
		<trim prefix="supplier_code =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.supplierCode}
             </foreach>
		</trim>
		<trim prefix="sku_code =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.skuCode}
             </foreach>
		</trim>
		<trim prefix="inbound_pre_num =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.inboundPreNum}
             </foreach>
		</trim>
		<trim prefix="inbound_num =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.inboundNum}
             </foreach>
		</trim>
		<trim prefix="inbound_price =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.inboundPrice}
             </foreach>
		</trim>
		<trim prefix="cost =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.cost}
             </foreach>
		</trim>
		<trim prefix="plan_loc =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.planLoc}
             </foreach>
		</trim>
		<trim prefix="is_created_voucher =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.isCreatedVoucher}
             </foreach>
		</trim>
		<trim prefix="voucher_no =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.voucherNo}
             </foreach>
		</trim>
		<trim prefix="is_cross_dock =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.isCrossDock}
             </foreach>
		</trim>
		<trim prefix="remark =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.remark}
             </foreach>
		</trim>
		<trim prefix="modifier =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.modifier}
             </foreach>
		</trim>
		<trim prefix="modify_time =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.modifyTime}
             </foreach>
		</trim>
		<trim prefix="rec_ver =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.recVer}
             </foreach>
		</trim>
		<trim prefix="company_id =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.companyId}
             </foreach>
		</trim>
		<trim prefix="warehouse_id =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.warehouseId}
             </foreach>
		</trim>
	</trim>
	WHERE
	<foreach collection="list" separator="or" item="item" index="index" >
		<if test="item.id!=null">
		(ID=#{item.id}) AND (REC_VER=#{item.recVer}-1)
		</if>
	</foreach>	
  </update>
  <update id="updateStatusByKey" parameterType="java.lang.String">
	UPDATE wm_inbound_detail wid set wid.status = #{status,jdbcType=VARCHAR},
	wid.rec_ver = wid.rec_ver+1 
	where wid.line_no in (#{lineNos,jdbcType=VARCHAR})
	and 
	wid.order_no = #{orderNo,jdbcType=VARCHAR}
	and 
	wid.company_id = #{companyId,jdbcType=INTEGER}
    and
    wid.warehouse_id = #{warehouseId,jdbcType=INTEGER}
  </update>
  
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wm_inbound_detail wid
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAllByPage" resultMap="QueryResultMap" parameterType="Map">
    select 
    <include refid="Base_Column_List" />
    ,bc.customer_name as supplier_name,
    bfs.fitting_sku_name,
    bfs.model_code,
    bfs.quick_code
    from wm_inbound_detail wid
    left join bd_customer bc on
    bc.customer_code = wid.supplier_code
    and bc.company_id = wid.company_id
    LEFT JOIN bd_fitting_sku bfs ON 
    wid.sku_code = bfs.fitting_sku_code
	and wid.company_id = bfs.company_id
    <include refid="findByConditionWhere" />
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xibin.wms.pojo.BdLoc">
    select 
    <include refid="Base_Column_List" />
    from wm_inbound_detail wid
    <include refid="findByExampleWhere" />
  </select>
  
  <select id="selectByKey" resultMap="QueryResultMap" resultType="java.util.List"  parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,bc.customer_name as supplier_name
    from wm_inbound_detail wid
    left join bd_customer bc on
    	bc.customer_code = wid.supplier_code
    and bc.company_id = wid.company_id
    where wid.order_no = #{orderNo,jdbcType=VARCHAR}
    and
    wid.line_no = #{lineNo,jdbcType=VARCHAR}
    and 
    wid.company_id = #{companyId,jdbcType=INTEGER}
    and
    wid.warehouse_id = #{warehouseId,jdbcType=INTEGER}
  </select>
  <select id="selectLastLineNo"   resultType="Integer"   parameterType="java.lang.String" >
    select
    max(cast(wid.line_no as signed))
    from wm_inbound_detail wid 
    where wid.order_no = #{orderNo,jdbcType=VARCHAR}
    and 
    wid.company_id = #{companyId,jdbcType=INTEGER}
    and
    wid.warehouse_id = #{warehouseId,jdbcType=INTEGER}
  </select>
  
  <select id="selectClosedOrderDetail"   resultMap="QueryResultMap"   parameterType="Map" >
    select
    <include refid="Base_Column_List" />
    ,bc.customer_name as supplier_name,
    wih.is_calculated,
    wih.status as header_status
    from wm_inbound_header wih
    left join bd_customer bc on
    	bc.customer_code = wih.supplier_code
    and bc.company_id = wih.company_id
    left join wm_inbound_detail wid on
    wid.order_no = wih.order_no
    and wid.company_id = wih.company_id
    and wid.warehouse_id = wih.warehouse_id
    <include refid="findByConditionWhere" /> 
    <if test="headerStatus!=null and headerStatus!=''">AND wih.status = #{headerStatus}</if>
    <if test="isCalculated!=null and isCalculated!=''">AND wih.is_calculated = #{isCalculated}</if>
    <if test="inboundType!=null and inboundType!=''">AND wih.inbound_type = #{inboundType}</if>
    <if test="inboundType!=null and inboundType!=''">AND wih.inbound_type = #{inboundType}</if>
    <if test="orderTimeFm!=null and orderTimeFm!=''"> AND wih.order_time &gt;= #{orderTimeFm}</if>
    <if test="orderTimeTo!=null and orderTimeTo!=''"> AND wih.order_time &lt;= #{orderTimeTo} </if>
    order by wih.order_no,wid.line_no
  </select>
    <select id="querySumPriceGroupByOrderNoForAccount"   resultMap="SumPriceResultMap"   parameterType="Map" >
        SELECT
        sum(
        round(wid.inbound_price * wid.inbound_num,2)
        )as total,
        wid.supplier_code,
        bc.customer_name,
        bc.auxi_id
        FROM
        wm_inbound_detail wid
        LEFT JOIN bd_customer bc ON bc.company_id = wid.company_id
        AND bc.customer_code = wid.supplier_code
        LEFT JOIN wm_inbound_header wih ON wid.order_no = wih.order_no
        AND wid.company_id = wih.company_id
        AND wid.warehouse_id = wih.warehouse_id
        WHERE
        1 = 1
        <if test="orderNo!=null and orderNo!=''">
            AND wih.order_no = #{orderNo}
        </if>
        AND wih.status = '20'
        AND wid.company_id = #{companyId,jdbcType=INTEGER}
        AND wid.warehouse_id = #{warehouseId,jdbcType=INTEGER}
        GROUP BY
        wid.order_no
    </select>

  
  <select id="querySumPriceGroupBySupplierForAccount"   resultMap="SumPriceResultMap"   parameterType="Map" >
  SELECT
	sum(
		round(wid.inbound_price * wid.inbound_num,2)
	)as total,
	wid.supplier_code,
	bc.customer_name,
	bc.auxi_id
	FROM
		wm_inbound_detail wid
	LEFT JOIN bd_customer bc ON bc.company_id = wid.company_id
	AND bc.customer_code = wid.supplier_code
	LEFT JOIN wm_inbound_header wih ON wid.order_no = wih.order_no
	AND wid.company_id = wih.company_id
	AND wid.warehouse_id = wih.warehouse_id
	WHERE
		1 = 1
    <if test="orderNos!=null and orderNos!=''"> 
          	AND wid.order_no in 
          	<foreach item="item" index="index" collection="orderNos" open="(" separator="," close=")">  
      			#{item}  
     	  	</foreach>
    </if>
    <if test="inboundType!=null and inboundType!=''">
    AND wih.inbound_type = #{inboundType}
    </if>
	AND wih.status = '99'
	AND wid.company_id = #{companyId}
	AND wid.warehouse_id = #{warehouseId}
	GROUP BY
		wid.supplier_code	
 </select>
 
 
 <select id="queryWmInboundDetailByPage"   resultMap="SkuQueryItem"   parameterType="Map" >
 SELECT
	wih.order_no,
	wih.status as header_status,
	wid.status,
	wih.supplier_code,
	wih.order_time,
	bc.customer_name as supplier_name,
	wih.inbound_type,
	wid.line_no,
	bfs.fitting_sku_code,
	bfs.quick_code,
	bfs.fitting_sku_name,
	bfs.model_code,
	bfs.uom_desc,
	wid.is_cross_dock,
	wid.inbound_pre_num,
	wid.inbound_num,
	wid.inbound_price,
     cast(wid.inbound_num * wid.inbound_price as DECIMAL(9,2)) AS total_price,
	wid.plan_loc
	FROM
		wm_inbound_header wih
	LEFT JOIN wm_inbound_detail wid ON wid.order_no = wih.order_no
	AND wih.company_id = wid.company_id
	LEFT JOIN bd_fitting_sku bfs ON wid.sku_code = bfs.fitting_sku_code
	AND wid.company_id = bfs.company_id

	LEFT JOIN bd_customer bc ON bc.customer_code = wid.supplier_code
	AND bc.company_id = wid.company_id

	WHERE 1=1
     <if test="fittingSkuName!=null and fittingSkuName!=''">AND bfs.fitting_sku_name LIKE CONCAT('%','${fittingSkuName}','%')</if>
     <if test="fittingSkuCode!=null and fittingSkuCode!=''">AND bfs.fitting_sku_code = #{fittingSkuCode}</if>
     <if test="modelCode!=null and modelCode!=''">AND bfs.model_code LIKE CONCAT('%','${modelCode}','%')</if>
     <if test="supplierCode!=null and supplierCode!=''">AND wih.supplier_code = #{supplierCode}</if>
	<if test="headerStatus!=null and headerStatus!=''">AND wih.status = #{headerStatus}</if>
	<if test="orderTimeFm!=null and orderTimeFm!=''"> AND wih.order_time &gt;= #{orderTimeFm}</if>
    <if test="orderTimeTo!=null and orderTimeTo!=''"> AND wih.order_time &lt;= #{orderTimeTo}</if>
	<if test="companyId!=null and companyId!=''"> AND wih.company_id = #{companyId}</if>
    <if test="warehouseId!=null and warehouseId!=''"> AND wih.warehouse_id = #{warehouseId}</if>
    <if test="inboundTypes!=null and inboundTypes.size()>0"> 
          	AND wih.inbound_type in 
          	<foreach item="item" index="index" collection="inboundTypes" open="(" separator="," close=")">  
      			#{item}  
     	  	</foreach>
    </if>
    ORDER BY
    wih.order_time DESC,
	wid.line_no+0
 </select>
 
 <select id="queryHistorySale" resultMap="SaleHistoryResultMap" resultType="java.util.List"  parameterType="Map" >
    SELECT
	  	bfs.fitting_sku_name,
		bfs.model_code,
		wid.sku_code,
		wid.supplier_code,
		bc.customer_name,
		wid.modify_time,
		wid.inbound_num,
		wid.inbound_price
	FROM
		wm_inbound_detail wid
	LEFT JOIN bd_fitting_sku bfs ON bfs.company_id = wid.company_id
	AND bfs.fitting_sku_code = wid.sku_code
	LEFT JOIN bd_customer bc ON bc.customer_code = wid.supplier_code
	AND bc.company_id = wid.company_id
    WHERE 1=1
    and wid.status = '20'
    <if test="supplierCode!=null and supplierCode!=''">and wid.supplier_code = #{supplierCode}</if>
    <if test="fittingSkuName!=null and fittingSkuName!=''"> AND bfs.fitting_sku_name LIKE CONCAT('%','${fittingSkuName}','%')</if>
    <if test="modelCode!=null and modelCode!=''"> AND bfs.model_code LIKE CONCAT('%','${modelCode}','%')</if>
    <if test="fittingTypeCode!=null and fittingTypeCode!=''"> AND bfs.fitting_type_code = #{fittingTypeCode}</if>
    <if test="fittingSkuCode!=null and fittingSkuCode!=''">and wod.sku_code = #{fittingSkuCode}</if>
    <if test="orderTimeFm!=null and orderTimeFm!=''"> AND wid.modify_time &gt;= #{orderTimeFm}</if>
    <if test="orderTimeTo!=null and orderTimeTo!=''"> AND wid.modify_time &lt;= #{orderTimeTo}</if>
    <if test="companyId!=null and companyId!=''">and wid.company_id = #{companyId}</if>
    <if test="warehouseId!=null and warehouseId!=''">and wid.warehouse_id = #{warehouseId}</if>
    order by wid.supplier_code,wid.sku_code,wid.modify_time
  </select>

    <delete id="deleteByOrderNo" parameterType="Map" >
        DELETE FROM wm_inbound_detail
        WHERE order_no =  #{orderNo}
        AND company_id = #{companyId}
        AND warehouse_id = #{warehouseId}
    </delete>
</mapper>