<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xibin.wms.dao.WmInventoryMapper" >
  <resultMap id="BaseResultMap" type="com.xibin.wms.pojo.WmInventory" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sku_code" property="skuCode" jdbcType="VARCHAR" />
    <result column="lot" property="lot" jdbcType="VARCHAR" />
    <result column="loc_code" property="locCode" jdbcType="VARCHAR" />
    <result column="alloc_num" property="allocNum" jdbcType="DOUBLE" />
    <result column="inv_num" property="invNum" jdbcType="DOUBLE" />
    <result column="inv_available_num" property="invAvailableNum" jdbcType="VARCHAR" />
    <result column="pre_assemble_num" property="preAssembleNum" jdbcType="VARCHAR" />
    <result column="total_price" property="totalPrice" jdbcType="DOUBLE" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="INTEGER" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="rec_ver" property="recVer" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="warehouse_id" property="warehouseId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="QueryResultMap" type="com.xibin.wms.query.WmInventoryQueryItem" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sku_code" property="skuCode" jdbcType="VARCHAR" />
    <result column="sku_name" property="skuName" jdbcType="VARCHAR" />
    <result column="model_code" property="modelCode" jdbcType="VARCHAR" />
    <result column="lot" property="lot" jdbcType="VARCHAR" />
    <result column="loc_code" property="locCode" jdbcType="VARCHAR" />
    <result column="alloc_num" property="allocNum" jdbcType="DOUBLE" />
    <result column="inv_num" property="invNum" jdbcType="DOUBLE" />
    <result column="inv_available_num" property="invAvailableNum" jdbcType="VARCHAR" />
    <result column="pre_assemble_num" property="preAssembleNum" jdbcType="VARCHAR" />
    <result column="total_price" property="totalPrice" jdbcType="DOUBLE" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="INTEGER" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="rec_ver" property="recVer" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="warehouse_id" property="warehouseId" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    wi.id, wi.sku_code, wi.lot, wi.loc_code, wi.alloc_num, wi.inv_num, wi.inv_available_num,wi.pre_assemble_num,wi.total_price,wi.creator, wi.create_time, 
    wi.modifier, wi.modify_time, wi.rec_ver, wi.company_id, wi.warehouse_id
  </sql>
  
  <!-- 条件 -->
  <sql id="findByConditionWhere">
      WHERE 1=1
          <if test="id!=null and id!=''"> AND wi.id = #{id}</if>
          <if test="skuCode!=null and skuCode!=''"> AND wi.sku_code  = #{skuCode}</if>
          <if test="lot!=null and lot!=''"> AND wi.lot = #{lot}</if>
          <if test="locCode!=null and locCode!=''"> AND wi.loc_code = #{locCode}</if>
          <if test="skuName!=null and skuName!=''"> AND bfs.fitting_sku_name LIKE CONCAT('%', '${skuName}','%')</if>
          <if test="modelCode!=null and modelCode!=''"> AND bfs.model_code LIKE CONCAT('%', '${modelCode}','%')</if>
          <if test="companyId!=null and companyId!=''"> AND wi.company_id = #{companyId}</if>
          <if test="warehouseId!=null and warehouseId!=''"> AND wi.warehouse_id = #{warehouseId}</if>
  </sql>
  <!-- 条件 -->
  <sql id="findByExampleWhere">
      WHERE 1=1
          <if test="id!=null and id!=''"> AND wi.id = #{id}</if>
          <if test="skuCode!=null and skuCode!=''"> AND wi.sku_code  = #{skuCode}</if>
          <if test="lot!=null and lot!=''"> AND wi.lot = #{lot}</if>
          <if test="locCode!=null and locCode!=''"> AND wi.loc_code = #{locCode}</if>
          <if test="companyId!=null and companyId!=''"> AND wi.company_id = #{companyId}</if>
          <if test="warehouseId!=null and warehouseId!=''"> AND wi.warehouse_id = #{warehouseId}</if>
  </sql>
  
  
  <!-- 【固定】：按主键查询 -->
  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String">
  	  select
      <include refid="Base_Column_List"/>
      from wm_inventory wi
      WHERE id in
      <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
	           #{item}
	  </foreach>
  </select>
  
  <!-- 【固定】：插入记录（支持一条及多条） -->
  <insert id="insert" parameterType="java.util.List">
  	INSERT INTO wm_inventory
          (id, sku_code, lot, loc_code, alloc_num, inv_num, inv_available_num,pre_assemble_num,total_price,
          creator, create_time,modifier, modify_time, rec_ver, company_id, warehouse_id)
       VALUES
  		<foreach collection="list" item="item" index="index" separator=",">
	   		(#{item.id}, #{item.skuCode},#{item.lot}, #{item.locCode},#{item.allocNum},#{item.invNum},#{item.invAvailableNum},#{item.preAssembleNum},#{item.totalPrice},
      #{item.creator},#{item.createTime}, #{item.modifier},  #{item.modifyTime},#{item.recVer}, #{item.companyId},#{item.warehouseId})
  		</foreach>
  </insert>
  
  <!-- 【固定】：删除记录 -->
  <delete id="delete" parameterType="java.lang.reflect.Array">
      DELETE FROM wm_inventory WHERE id in 
   <foreach collection="array" index="index" item="item" open="(" separator="," close=")">  
           #{item}   
   </foreach>
  </delete>
  
  <!-- 【固定】：更新记录（支持一条及多条） -->
  <update id="update" parameterType="java.util.Collection">
	UPDATE wm_inventory
	<trim prefix="set" suffixOverrides=",">
		<!-- 更新的字段集合 -->
		<trim prefix="sku_code =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.skuCode}
             </foreach>
		</trim>
		<trim prefix="lot =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.lot}
             </foreach>
		</trim>
		<trim prefix="loc_code =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.locCode}
             </foreach>
		</trim>
		<trim prefix="alloc_num =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.allocNum}
             </foreach>
		</trim>
		<trim prefix="inv_num =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.invNum}
             </foreach>
		</trim>
		<trim prefix="inv_available_num =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.invAvailableNum}
             </foreach>
		</trim>
		<trim prefix="pre_assemble_num =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.preAssembleNum}
             </foreach>
		</trim>
		<trim prefix="total_price =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.totalPrice}
             </foreach>
		</trim>
		<trim prefix="modifier =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.modifier}
             </foreach>
		</trim>
		<trim prefix="modify_time =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.modifyTime}
             </foreach>
		</trim>
		<trim prefix="rec_ver =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.recVer}
             </foreach>
		</trim>
		<trim prefix="company_id =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.companyId}
             </foreach>
		</trim>
		<trim prefix="warehouse_id =case"  suffix="end,"  >
             <foreach collection="list" item="item" index="index">
                     when (ID=#{item.id}) then #{item.warehouseId}
             </foreach>
		</trim>
	</trim>
	WHERE
	<foreach collection="list" separator="or" item="item" index="index" >
		<if test="item.id!=null">
		(ID=#{item.id}) AND (REC_VER=#{item.recVer}-1)
		</if>
	</foreach>	
  </update>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wm_inventory wi
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAllByPage" resultMap="QueryResultMap" parameterType="Map">
    select 
    <include refid="Base_Column_List" />
    ,bfs.fitting_sku_name as sku_name
    ,bfs.model_code
    from wm_inventory wi
     left join bd_fitting_sku bfs on
    wi.sku_code = bfs.fitting_sku_code
    and 
    wi.company_id = bfs.company_id
    <include refid="findByConditionWhere" />
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xibin.wms.pojo.WmInventory">
    select 
    <include refid="Base_Column_List" />
    from wm_inventory wi
    <include refid="findByExampleWhere" />
  </select>
  <select id="getAvailableInvByExample" resultMap="BaseResultMap" parameterType="com.xibin.wms.pojo.WmInventory">
    select 
    <include refid="Base_Column_List" />
    from wm_inventory wi
    left join bd_loc bl on
    bl.loc_code = wi.loc_code
    and bl.company_id =wi.company_id
    and bl.warehouse_id = wi.warehouse_id
    <include refid="findByExampleWhere" />
    and wi.inv_available_num>0
    and bl.use_type not in('SS','KT','VI','CD')
  </select>
    <select id="getStorageInvByExample" resultMap="BaseResultMap" parameterType="com.xibin.wms.pojo.WmInventory">
        select
        <include refid="Base_Column_List" />
        from wm_inventory wi
        left join bd_loc bl on
        bl.loc_code = wi.loc_code
        and bl.company_id =wi.company_id
        and bl.warehouse_id = wi.warehouse_id
        <include refid="findByExampleWhere" />
        and wi.inv_num>=0
        and bl.use_type not in('SS','KT','VI','CD')
    </select>
    <select id="getVirtualInvByExample" resultMap="BaseResultMap" parameterType="com.xibin.wms.pojo.WmInventory">
        select
        <include refid="Base_Column_List" />
        from wm_inventory wi
        left join bd_loc bl on
        bl.loc_code = wi.loc_code
        and bl.company_id =wi.company_id
        and bl.warehouse_id = wi.warehouse_id
        <include refid="findByExampleWhere" />
<!--        and wi.inv_available_num>0-->
        and bl.use_type  in('VI')
    </select>
  <select id="getAvailableInvByPage" resultMap="QueryResultMap" parameterType="Map">
    select 
    <include refid="Base_Column_List" />
    ,bfs.fitting_sku_name as sku_name
    ,bfs.model_code
    from wm_inventory wi
    left join bd_fitting_sku bfs on
    wi.sku_code = bfs.fitting_sku_code
    and 
    wi.company_id = bfs.company_id
    left join bd_loc bl on
    bl.loc_code = wi.loc_code
    and bl.company_id =wi.company_id
    <include refid="findByConditionWhere" />
    and wi.inv_available_num>0
<!--      页面查询方便查看所以不屏蔽 -->
<!--    and bl.use_type not in('SS','KT','CD','VI')-->
      and bl.warehouse_id = wi.warehouse_id
  </select>

  <select id="selectByKey" resultMap="QueryResultMap" resultType="java.util.List"  parameterType="Map" >
    select 
    <include refid="Base_Column_List" />
    ,bfs.fitting_sku_name as sku_name
    ,bfs.model_code
    from wm_inventory wi
    left join bd_fitting_sku bfs on
    wi.sku_code = bfs.fitting_sku_code
    and 
    wi.company_id = bfs.company_id
    where 1=1
    <if test="skuCode!=null and skuCode!=''">and wi.sku_code = #{skuCode,jdbcType=VARCHAR}</if>
    <if test="locCode!=null and locCode!=''">and wi.loc_code = #{locCode,jdbcType=VARCHAR}</if>
    <if test="lot!=null and lot!=''">and wi.lot = #{lot,jdbcType=VARCHAR}</if>
    <if test="companyId!=null and companyId!=''">and wi.company_id = #{companyId,jdbcType=INTEGER}</if>
    <if test="warehouseId!=null and warehouseId!=''">and wi.warehouse_id = #{warehouseId,jdbcType=INTEGER}</if>
  </select>
    <select id="getCostBySkuCode" resultType="Double"   parameterType="Map" >
        SELECT SUM(wi.total_price)/SUM(wi.inv_available_num) FROM  wm_inventory wi
        WHERE
        1=1
        <if test="skuCode!=null and skuCode!=''">and wi.sku_code = #{skuCode,jdbcType=VARCHAR}</if>
        <if test="companyId!=null and companyId!=''">and wi.company_id = #{companyId,jdbcType=INTEGER}</if>
        <if test="warehouseId!=null and warehouseId!=''">and wi.warehouse_id = #{warehouseId,jdbcType=INTEGER}</if>
        GROUP BY wi.sku_code
    </select>
    <select id="getMaxInventoryBySkuCode" resultType="java.util.HashMap"     parameterType="Map" >
        SELECT wi.inv_num,wi.loc_code,wi.sku_code FROM  wm_inventory wi
        LEFT JOIN bd_loc bl ON bl.loc_code = wi.loc_code
        AND bl.company_id = wi.company_id
        WHERE
            1=1
        AND bl.use_type = 'RS'
        <if test="skuCode!=null and skuCode!=''">and wi.sku_code = #{skuCode,jdbcType=VARCHAR}</if>
        <if test="companyId!=null and companyId!=''">and wi.company_id = #{companyId,jdbcType=INTEGER}</if>
        <if test="warehouseId!=null and warehouseId!=''">and wi.warehouse_id = #{warehouseId,jdbcType=INTEGER}</if>
        ORDER BY wi.inv_num DESC,wi.modify_time DESC  LIMIT 1
    </select>
</mapper>